.city{
    background-color: tomato;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.province{
    background-color: rgb(207, 17, 245);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#myid{
    font-size: 500%;
}